body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 575px;
    height: 385px;
    background: #1B244A; 
}
.title{
    font-family: Verdana;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 35.89px;
    letter-spacing: 0%;
    text-align: center;
    color: #EEEEEE;
    margin-top: 68px;
    margin-bottom: 21px;
    
}
#home-title{
    margin-right: 53px;
    margin-left: 85px;
}
#guest-title{
    margin-left: 53px;
    margin-right: 85px;
}
.countboder{
    width: 155px;
    height: 120px;
    margin-bottom: 26px;
    background: #080001;
    border-radius: 5px;
    
}
#countboder-home{
    margin-left: 82px;
    margin-right: 50px;
}
#countboder-guest{
    margin-left: 50px;
    margin-right: 82px;
}
.countboder-text{
    margin: 0px 10px 18px 0px;
    width: 117px;
    height: 120px;
    font-family: Cursed Timer ULiL;
    font-weight: 400;
    font-style: Regular;
    font-size: 70px;
    line-height: 126.67px;
    letter-spacing: 0%;
    text-align: right;
    color:#F94F6D;
}
#count-home{
    margin-left: 20px;
}
#count-guest{
    margin-left: 20px;
}

.button-style{
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-family: Cursed Timer ULiL;
    background: #1B244A;
    color: #9AABD8;
}
.button-main{
    width: 155px;
    height: 45px;
    background: #1B244A;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 26px;
    margin-bottom: 69px;
    
}
